<!doctype html>
<html>
  <head>
    <title>Registration - <%=shopName%></title>
    <!-- Add the link to your stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Registration Status</h1>
    <p><%= message %></p>
    <br>
    
    <a href="/">Go back home</a>
  </body>
</html>

