<!doctype html>
<html>
  <head>
    <title>Search Results - <%=shopName%></title>
    <!-- Add the link to your stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Search Results</h1>
    <!-- This will now be purple! -->
    <p>You searched for "<strong><%= searchText %></strong>" in "<strong><%= category %></strong>".</p>
    <br>
    <a href="/search">Search again</a>
  </body>
</html>

